<ion-view view-title="ADD HERBAL PLANT">
    <ion-content>
        <form ng-submit="addPlant()">
            <div class="col-md-12 card" style="padding: 10px;">
                <div class="col-md-12" ng-if="!formData.plantPic">
                    <img ng-src="{{formData.imageHolder}}" height="250" width="100%" class="thumb"/>
                </div>
                <div class="col-md-12">
                    <img ng-src="{{formData.imageHolder}}" height="250" width="100%" ngf-thumbnail="formData.plantPic"/>
                </div>
                <div class="col-md-12">
                    <input type="file" id="plant_pic" ngf-select ng-model="formData.plantPic" name="plant_pic"
                           accept="image/*" ngf-max-size="50MB" class="left" required/>
                </div>
            </div>

            <div class="col-md-12 card" style="padding: 10px;">
                <input type="text" ng-model="formData.plantName" placeholder="Plant name" required />
            </div>

            <div class="col-md-12 card" style="padding: 10px;">
                <input type="text" ng-model="formData.plantScientificName" placeholder="Scientific name" required />
            </div>

            <div class="col-md-12 card" style="padding: 10px;">
                <textarea type="text" ng-model="formData.plantDescription" placeholder="Description" style="width: 100%; height: 150px; resize: none;" required></textarea>
            </div>

            <div class="col-md-12" style="padding: 10px;">
                <button type="submit" class="button button-balanced button-full">ADD PLANT</button>
            </div>
        </form>
    </ion-content>
</ion-view>
